<main class="main container mx-auto">
  <div class="flex space-x-4 mb-4">
    <a routerLink="/expenses" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-500 hover:underline">
      Depenses
    </a>
    <a routerLink="/revenues" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-500 hover:underline">
      Revenues
    </a>
    <a routerLink="/economies" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-500 hover:underline">
      Economies
    </a>
    <a routerLink="/monthly" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-500 hover:underline">
      Rapports Monsuels
    </a>
  </div>
  <router-outlet></router-outlet>
</main>